<div class="pagecontent">
    <div class="leftcontent">
        <div class="contenttxt">
            <h1>Welcome</h1>
            <p>Hello, I'm Ajay Shrivastava</p>
            <div class="cards">
                <div class="card">
                    <h3>Web Developer</h3>
                </div>
                <div class="card">
                    <h3>Designer</h3>
                </div>
                <div class="card">
                    <h3>Photographer</h3>
                </div>
                <div class="card">
                    <h3>Web Developer</h3>
                </div>
                <div class="card">
                    <h3>Designer</h3>
                </div>
                <div class="card">
                    <h3>Photographer</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="rightcontent">
        <div class="contentimg">
            <img src="Designer.JPG" width="90%" >
        </div>
    </div>
</div>